<div class="control-group theme">
  <label class="control-label">{{i18n 'lohnrechner.preferences.select_lohnrechner'}}</label>
  <div class="controls">
    <label>{{i18n 'lohnrechner.preferences.select_lohnrechner_instructions'}}</label>
    {{category-selector categories=selectedCategories}}
  </div>
</div>
